<template lang="pug">
    v-card(width="100%")
        v-card-text
            h1(class="headline") Tasks
            v-list(v-if="tasks_lists_visible.active" one-line)
                v-subheader Active
                Task(
                    v-for="(task, key) in tasks"
                    v-if="!task.completed"
                    :key="key"
                    :task_id="task.id"
                    :title="task.title"
                    :description="task.description"
                    :completed="task.completed"
                )
            v-divider(v-if="tasks_lists_visible.completed && tasks_lists_visible.active")
            v-list(one-line v-if="tasks_lists_visible.completed")
                v-subheader Completed
                Task(
                    v-for="(task, key) in tasks"
                    v-if="task.completed"
                    :key="key"
                    :task_id="task.id"
                    :title="task.title"
                    :description="task.description"
                    :completed="task.completed"
                )
        v-divider
        v-card-text 
            h2(class="title") Create
            v-form(ref="form" v-model="valid")
                v-text-field(
                    v-model="new_task.title"
                    id="title"
                    name="title"
                    label="Title"
                    :rules="title_rules"
                    required
                )
                v-text-field(
                    v-model="new_task.description"
                    id="description"
                    name="description"
                    label="Description"
                    :rules="description_rules"
                )
                v-btn(color="primary" :disabled="!valid" @click="submit") Create
                v-btn(color="primary" flat @click="clear") Clear
</template>

<script>
import Task from "~~/components/Task.vue"

export default {
    data() {
        return {
            valid: false,
            new_task: { title: '', description: ''},
            title_rules: [
                v => !!v || 'Title is required',
                (v = '') => v.length < 129 || 'Title cannot be longer than 128 characters',
            ],
            description_rules: [
                (v = '') => v.length < 129 || 'Description cannot be longer than 128 characters',
            ]
        };
    },
    components: {
        Task
    },
    computed: {
        tasks() {
            return this.$store.state.tasks || {};
        },
        tasks_lists_visible() {
            const tasks = this.$store.state.tasks || {};
            let active = false;
            let completed = false;
            for (let key in tasks) {
                if (!tasks[key].completed) active = true;
                if (tasks[key].completed) completed = true;
                if (completed && active) break;
            }
            return { active, completed };
        }
    },
    methods: {
        submit () {
            if (this.$refs.form.validate()) {
                this.$store.dispatch('create_task', {                    
                    title: this.new_task.title,
                    description: this.new_task.description,
                    completed: false,
                    socket: this.$socket
                });
                this.$refs.form.reset();
            }
        },
        clear () {
            this.$refs.form.reset()
        }
    },
    head() {
        return {
            title: 'Dashboard',
        }
    },
    middleware: 'auth'
}
</script>

<style scoped>

</style>
