<template lang="pug">
	main
		v-card.login-card
			v-card-title
				h1.headline Welcome!
			v-card-text
				v-text-field(
					v-model="credentials.username" 
					@keyup.enter.native="authenticate()"
					label="Username"
				)
				v-text-field(
					type="password"
					v-model="credentials.password"
					@keyup.enter.native="authenticate()"
					label="Password"
				)
				span(v-if="error").error--text {{ error }}
			v-card-actions
				v-spacer
				v-btn(@click="authenticate()" color="primary") Log in
</template>

<script>

export default {
	name: 'Login',
	data: function () {
		return {
			credentials: {
				username: '',
				password: ''
			},
			error: null
		}
    },
	methods: {
		authenticate() {
			this.$auth.login({
				data: {
					username: this.credentials.username,
					password: this.credentials.password
				}
            })
                .then(() => {
                   this.$router.push('/dashboard')
                })
                .catch((err) => {
                    if (err.response) {
                        const { statusText, status } = err.response;
                        switch(status) {
                            case 404 :
                                this.error = 'Cannot find server';
                                break;
                            case 401 :
                                this.error = statusText;
                                break;
                            default :
                                this.error = `${status} ${statusText}`;
                                break;
                        }
                    } else {
                        this.error = 'Cannot login, you might be offline'
                        console.log(err);
                    }
                })
		}
    },
    layout: 'login',
    middleware: 'guest'
};
</script>

<style lang="sass" scoped>
body, html
	background-color: #fafafa

main
	background-color: #fafafa
	display: flex
	align-items: flex-start
	width: 100%
	height: 100%
	justify-content: center

.login-card
	width: 50%
	height: 100%

@media (min-width: 600px)
	main
		align-items: center

	.md-card
		width: 600px
		height: auto
		border-radius: 0
</style>
