<template lang="pug">
    section
        v-card(width="100%").mb-4
            v-card-text
                v-slider(@click="log(slider)" v-model="slider")
        v-card(width="100%")
            v-card-title
                h2 Update password
            v-card-text 
                v-form(ref="form") 
                    v-text-field(
                        type="password"
                        v-model="old_password"
                        id="oldpassword"
                        name="oldpassword"
                        label="Old password"
                        :rules="passwordRules"
                        required
                        validate-on-blur
                    )
                    v-text-field(
                        type="password"
                        v-model="new_password"
                        id="newpassword"
                        name="newpassword"
                        label="New password"
                        :rules="passwordRules"
                        required
                        validate-on-blur
                    )
            v-card-actions 
                v-btn(color="primary" flat @click.stop="updatePassword") Update
                v-btn(color="primary" flat @click.stop="edit_modal_open=false") Close
</template>

<script>
export default {
    data() {
        return {
            slider: 0,
            old_password: '',
            new_password: '',
            passwordRules: [
                v => !!v || 'This is required',
                v => v.length > 7 || 'Cannot be shorter than 8',
                v => v.length < 63 || 'Cannot be longer than 64',
                v => /[a-zA-Z]/g.test(v) || 'Must contain at least 1 letter',
                v => /\d+/g.test(v) || 'Must contain at least 1 number',
            ]
        };
    },
    head() {
        return {
            title: 'Settings',
        }
    },
    methods: {
        log(data) {
            console.log(data);
        },
        updatePassword () {
            console.log(this.$axios);
            if (this.$refs.form.validate()) {
                this.$axios.$patch('/user', {
                    old_password: this.old_password,
                    new_password: this.new_password
                })
                    .then((response) => {
                        this.old_password = '';
                        this.new_password = '';
                    })
                    .catch((err) => {
                        this.error = err;
                    })
            }
        },
    },
    middleware: 'auth'
}
</script>


<style lang="sass" scoped>
section
    width: 100%

</style>
