<template lang="pug">
v-app
    v-navigation-drawer(
        clipped
        v-model="drawer"
        app
        class="elevation-2"
    )
        v-list
            v-list-tile(to="/")
                v-list-tile-action
                    v-icon home
                v-list-tile-content
                    v-list-tile-title Home
            v-list-tile(to="/settings")
                v-list-tile-action
                    v-icon settings
                v-list-tile-content
                    v-list-tile-title Settings
            v-list-tile(@click.stop="logout")
                v-list-tile-action
                    v-icon exit_to_app
                v-list-tile-content
                    v-list-tile-title Logout
    v-toolbar(
        absolute
        app
        class="primary white--text elevation-3 pl-0"
    )
        v-toolbar-side-icon(class="white--text" @click.stop="drawer = !drawer")
        v-toolbar-title {{ title }}
    v-content
        v-container(fluid)
            v-layout(class="main-container" align-center)
                nuxt
</template>

<script>
export default {
    data () {
        return {
            drawer: null,
            title: 'Dashboard'
        }
    },
    beforeMount () {
        this.$socket.io.opts.query = { 
            token: (this.$store.$auth.$storage.getUniversal('_token.local') || '').replace('Bearer ', '') // -_-
        };
        this.$socket.open();
    },
	methods: {
        logout() {
            this.$auth.logout();
        }
    },
    head() {
        let self = this
        if (process.browser) {
            this.title = document.title
        }
        return {
            changed({
                title
            }) {
                self.title = title
            }
        }
    }
}
</script>

<style>
html {
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    font-size: 16px;
    word-spacing: 1px;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}

.main-container {
    max-width: 800px;
    margin: 0 auto;
}
</style>
