<template lang="pug">
v-app
    v-content
        v-container.fluid
            v-layout(align-center).main-container
                nuxt
</template>

<script>
export default {
    beforeMount () {
        this.$socket.close();
    }
}
</script>

<style lang="sass">
html
    font-family: "Source Sans Pro", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif
    font-size: 16px
    word-spacing: 1px
    -ms-text-size-adjust: 100%
    -webkit-text-size-adjust: 100%
    -moz-osx-font-smoothing: grayscale
    -webkit-font-smoothing: antialiased
    box-sizing: border-box


*, *:before, *:after
    box-sizing: border-box
    margin: 0

.main-container
    max-width: 800px
    margin: 0 auto
</style>
