<template lang="pug">
    v-list-tile 
        v-list-tile-action 
            v-checkbox(@click="toggle_task(!get_completed)" :input-value="get_completed")
        v-list-tile-content 
            v-list-tile-title {{ title }}
            v-list-tile-sub-title {{ description }}
        v-list-tile-action 
            v-menu(offset-y)
                v-btn(icon slot="activator")
                    v-icon(color="grey lighten-1") more_vert
                v-list 
                    v-list-tile(@click.stop="edit_modal_open=true")
                        v-list-tile-title Edit
                    v-list-tile(@click.stop="delete_modal_open=true")
                        v-list-tile-title Delete
        v-dialog(v-model="edit_modal_open" max-width="500px")
            v-card 
                v-card-title 
                    h2(class="title") Edit
                v-card-text 
                    v-form(ref="form" v-model="valid") 
                        v-text-field(
                            v-model="edit_task.title"
                            id="title"
                            name="title"
                            label="Title"
                            :rules="titleRules"
                            required
                        )
                        v-text-field(
                            v-model="edit_task.description"
                            id="description"
                            name="description"
                            label="Description"
                        )
                v-card-actions 
                    v-btn(color="primary" flat :disabled="!valid" @click.stop="submit") Update
                    v-btn(color="primary" flat @click.stop="edit_modal_open=false") Close
        v-dialog(v-model="delete_modal_open" max-width="500px")
            v-card 
                v-card-title 
                    h2(class="title") Delete
                v-card-text 
                    p 
                        | Are your sure you want to delete "{{ title }}"
                v-card-actions 
                    v-btn(color="primary" @click.stop="delete_task") Delete
                    v-btn(color="primary" flat @click.stop="delete_modal_open=false") Close
</template>

<script>
export default {
    props: [
        'task_id',
        'title',
        'description',
        'completed'
    ],
    data() {
        return {
            delete_modal_open: false,
            edit_modal_open: false,
            edit_task: { title: this.title, description: this.description},
            valid: false,
            titleRules: [
                v => !!v || 'Title is required',
            ]
        };
    },
    computed:{
        get_completed () {
            return this.completed;
        }
    },
    methods: {
        toggle_task (completed) {
            this.$store.dispatch('toggle_task', {
                id: this.task_id,
                completed,
                socket: this.$socket
            });
        },
        submit () {
            if (this.$refs.form.validate()) {
                this.$store.dispatch('update_task', {
                    id: this.task_id, 
                    title: this.edit_task.title,
                    description: this.edit_task.description,
                    socket: this.$socket
                });
                this.edit_modal_open = false;
            }
        },
        delete_task () {
            this.$store.dispatch('delete_task', {
                id: this.task_id,
                socket: this.$socket
            });
            this.delete_modal_open = false;
        }
    },
}
</script>

<style scoped>

</style>
